$red: #E22D21;
$white: #FFFFFF;
$darkGray: #4E4E4D;
$lightGray: #787878;
$lightGreen: #B8E4D8;
$lighterGray: #F7F7F7;
$green: #1EC1AA;

:export {
    red: $red;
    white: $white;
    gray: $darkGray;
    lightGreen: $lightGreen;
    lightGray: $lightGray;
    green: $green;
    lighterGray: $lighterGray;
}