@tailwind base;
@tailwind components;
@tailwind utilities;

body,
h1,
p {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: theme('colors.lightGray');
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme('colors.mint');
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.gray');
}

.container {
  @apply m-auto w-full lg:max-w-[70vw];
}
